body { 
    background-image: url("HeroImage.jpg");
    background-size:cover;
}

img {
    image-orientation: from-image;
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
