body {
 background-image: url("HeaderImage.jpg");
 background-repeat: no-repeat;
 backgroun-size: 80% auto;
}

img {
    image-orientation: from-image;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
